<div class="container bg-gradient">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a routerLink="/home"
       class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <span class="fs-4">Dragon treasures</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li class="nav-item"><a class="nav-link" routerLink="/dragons" routerLinkActive="active">Dragons</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/faq" routerLinkActive="active">FAQs</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="/about" routerLinkActive="active">About</a></li>
    </ul>
  </header>
</div>
